POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_TEST_USER_PASSWORD=change-me-local
# Порт postgres на хосте, если 5432 занят (тогда DB_URL сервиса тоже с этим портом)
#POSTGRES_PORT=5432
